Workflows/PaymentEmailConfirmation-875886E8-A5D8-EF11-A731-000D3ACA2055.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "as_sharedoffice365_5bf37"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "as_sharedcommondataserviceforapps_fb14d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "6d6282a0-167e-45e2-ad46-2423563fe792"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "as_payment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Switch": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": 120980000,
              "actions": {
                "Send_an_email_(V2)_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "68b22280-6a48-4621-b1fb-99d3e72cc527"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('email')",
                      "emailMessage/Subject": "Premium ",
                      "emailMessage/Body": "<p>shdfkjsakf</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_2": {
              "case": 120980001,
              "actions": {
                "Send_an_email_(V2)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "806d6d2b-9307-436d-b241-b33e0f33d4af"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('email')",
                      "emailMessage/Subject": "claim",
                      "emailMessage/Body": "<p>kjasdjkan</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_3": {
              "case": 120980002,
              "actions": {
                "Send_an_email_(V2)_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "464cf0fb-5e58-4162-a170-5c6e919e6abf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('email')",
                      "emailMessage/Subject": "pending",
                      "emailMessage/Body": "<p>jkndjas</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerOutputs()?['body/as_paymentstatus']",
          "metadata": {
            "operationMetadataId": "014d6005-2258-43c5-a3bf-125a9be00059"
          },
          "type": "Switch"
        },
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6db0f800-541d-447b-bc32-f34ffca783b4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "as_customers",
              "recordId": "@triggerOutputs()?['body/_as_email_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ba90fd89-1463-42fe-8d6b-a4ad918d97e2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email",
                "type": "string",
                "value": "@outputs('Get_a_row_by_ID')?['body/as_email']"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}