Workflows/PaymentConfirmation-4998E2E1-34DA-EF11-A731-000D3ACA2055.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "as_sharedcommondataserviceforapps_fb14d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "as_sharedoffice365_5bf37"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "2fce21a5-9581-41b9-9b1a-f69204af64e3"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "as_payment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b668222d-d703-4aba-8c39-28c165f4ff43"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "as_policies",
                  "recordId": "@triggerOutputs()?['body/_as_policy_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Send_an_email_(V2)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "3872de23-116e-4e34-af7d-fc676dc13734"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "Aakash@dynamicsmonk.com",
                    "emailMessage/Subject": "dss",
                    "emailMessage/Body": "<p>nahi chlaa<br>\n@{triggerOutputs()?['body/as_paymentstatus']}</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/as_paymentstatus']",
              120980000
            ]
          },
          "metadata": {
            "operationMetadataId": "d447d6da-c635-48aa-9152-f3e9f1aa6019"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}